body {
    font-family: Arial, sans-serif;
    background: url('images/sunny.jpg');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    transition: background-image 0.5s ease-in-out; 
}

.container {
    width: 80%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 20px; 
}

#app-title {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 80px;
}

#weather-display {
    display: flex;
    align-items: center;
}

#temperature {
    font-size: 96px;
    margin: 0;
}

#location-description {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#location {
    font-size: 40px;
    margin: 0;
}

#date {
    font-size: 16px;
    margin: 5px 0;
}

#weather-condition {
    margin-left: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#weather-icon {
    font-size: 40px;
    margin-bottom: 5px;
}

#weather-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-description {
    font-size: 16px;
    margin: 0;
}

.form-container {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.639);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: #333;
    background-color: #fff;
    padding: 50px;
}

.search-bar button {
    width: 40px;
    height: 40px;
    background-color: #555151;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar i {
    font-size: 16px;  
    color: #fff;
}

.city-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    overflow-y: auto; 
    max-height: 200px; 
}

.city-list li {
    padding: 15px 0;
    border-bottom: none;
    cursor: pointer;
    color: rgb(203, 189, 189);
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
    width: 100%;
}

#weather-details {
    width: 100%;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: rgb(203, 189, 189)
}

.value {
    font-size: 18px;
}

.unit {
    font-size: 14px;
}
